.container {
    display: flex;
    justify-content: column;
    align-items: center;
    height: 80vh;
    max-width: 100vh; /* Define a largura máxima do container */
    margin: 0 auto; /* Centraliza o container horizontalmente na página */
  }

  #linha-vertical {
    order: 1;
    height: 200px;
    border-right: 5px solid #0011ff;
    padding: 20px;
}

.cadastro{ 
  order: 2;
  position: relative;
  max-width: 500px;
  max-height: 220px;
  padding: 50px;

}

.cadastro a {  
  color: #0011ff;; 
  text-decoration: none; /* Remove o sublinhado */
}
