<div class="sobre-container">
    <mat-card class="header-card">
      <mat-card-header>
        <mat-card-title>Sobre mim</mat-card-title>
        <mat-card-subtitle>Luam Morais da Silva, 24 anos, Guarulhos - SP.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Sou um profissional dedicado e proativo, estou me formando em Análise e Desenvolvimento de Sistemas, e estou em busca de uma oportunidade para contribuir no crescimento e sucesso da empresa, otimizando processos administrativos e integrando soluções tecnológicas.</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="links-card">
      <mat-card-header>
        <mat-card-title>Links</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="sobre-links">
          <a href="https://www.linkedin.com/in/luammrs/" target="_blank">
            <mat-icon>linkedin</mat-icon> Linkedin
          </a>
          <a href="https://github.com/luamsilv4/">
            <mat-icon>github</mat-icon> GitHub
          </a>
        </div>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="pegadinha-mundial">
        <mat-card-header>
            <mat-card-title>Clique abaixo para encontrar o mundial do Palmeiras</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="palmeiras">
                 <!-- Link que redireciona para a página NotFound -->
                 <a href="/notfound">
                    <mat-icon>error</mat-icon> Encontre o mundial aqui!
                </a>
            </div>
        </mat-card-content>
    </mat-card>
  </div>
  